body {
    background-image: url("airport.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

h1 {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  font-family: "Lato", sans-serif;
  margin: 20px;
}

/* colore carattere 2 */
.colored-character {
  color: #6ca6d4;
}

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
    "left-top-1 center-top-1 ."
    "center-left-1 center-1 center-right-1"
    "bottom-left-1 . bottom-right-1"
    "left-top-2 center-top-2 ."
    "center-left-2 center-2 center-right-2"
    "bottom-left-2 . bottom-right-2"
    "left-top-3 center-top-3 ."
    "center-left-3 center-3 center-right-3"
    "bottom-left-3 . bottom-right-3"
    "left-top-4 center-top-4 ."
    "center-left-4 center-4 center-right-4"
    "bottom-left-4 . bottom-right-4";
    text-align: center;
    background-color: white; /* Sfondo bianco */
    border-radius: 10px; /* Border radius di 10px */
    /* Margine di 20px */
    margin: 20px 20%;
    padding: 10px;
}



.stick {
    flex-grow: 1;
    height: 2px;
    margin-right: 0;
    background: black;
}

.arrow {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 15px solid black;
    border-bottom: 5px solid transparent;
    margin-left: 0;
}

.center-1 {
    grid-area: center-1;
    display: flex;
    align-items: center;
}

.left-top-1{ grid-area: left-top-1; color: gray; text-align: left}

.center-top-1 { grid-area: center-top-1; display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.center-left-1 { grid-area: center-left-1; color: #03befc}

.center-right-1 { grid-area: center-right-1; color: #03befc}

.bottom-left-1 { grid-area: bottom-left-1; }

.bottom-right-1 { grid-area: bottom-right-1; }

.center-top-2 { grid-area: center-top-2; display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }

.center-2 {
    grid-area: center-2;
    display: flex;
    align-items: center;
}
.left-top-2{ grid-area: left-top-2; color: gray; text-align: left}
.center-left-2 { grid-area: center-left-2; color: #03befc}

.center-right-2 { grid-area: center-right-2; color: #03befc}

.bottom-left-2 { grid-area: bottom-left-2; }

.bottom-right-2 { grid-area: bottom-right-2; }

.center-3 {
    grid-area: center-3;
    display: flex;
    align-items: center;
}
.left-top-3{ grid-area: left-top-3; color: gray; text-align: left}
.center-top-3 { grid-area: center-top-3; display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }

.center-left-3 { grid-area: center-left-3; color: #03befc}

.center-right-3 { grid-area: center-right-3; color: #03befc}

.bottom-left-3 { grid-area: bottom-left-3; }

.bottom-right-3 { grid-area: bottom-right-3; }

.center-4 {
    grid-area: center-4;
    display: flex;
    align-items: center;
}

.left-top-4{ grid-area: left-top-4; color: gray; text-align: left}
.center-top-4 { grid-area: center-top-4; display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }

.center-left-4 { grid-area: center-left-4; color: #03befc}

.center-right-4 { grid-area: center-right-4; color: #03befc}

.bottom-left-4 { grid-area: bottom-left-4; }

.bottom-right-4 { grid-area: bottom-right-4; }

.button-container {
    margin: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    background-color: #3498db;
    border-radius: 10px;
    overflow: hidden;
}

.button-container button {
    padding: 10px 20px;
    margin: 0;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #2980b9;
}

.error-box {
    background-color: #ffdddd;
    border: 1px solid #ff0000;
    padding: 10px;
    margin-bottom: 10px;
    color: #ff0000;
}

.view-more-button{
    padding: 10px 20px;
    margin: auto;
    width: fit-content;
    display: flex;
    background-color: #3498db;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #2980b9;
}