h1 {
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-family: "Lato", sans-serif;
    margin: 20px;
}
h2 {
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-family: "Lato", sans-serif;
    margin: 20px;
}
/* Stile per la tabella 1 */
#flight-table {
    width: 100%;
    border-collapse: collapse;
}


.dark-header {
    background-color: #03befc; /* Colore di sfondo scuro per l'intestazione */
    color: #fff; /* Colore del testo per l'intestazione */
}


/* Stile per la tabella 2 */
#flight-table-2 {
    width: 100%;
    border-collapse: collapse;
}

