body {
  background-image: url("airport.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;

}
h1 {
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-family: "Lato", sans-serif;
    margin: 20px;
}
h2 {
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-family: "Lato", sans-serif;
    margin: 20px;
}
/* Stile per la tabella 1 */
.flight-table {
    width: 90%;
    border-collapse: collapse;
    background-color: white;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}


.dark-header {
    background-color: #03befc; /* Colore di sfondo scuro per l'intestazione */
    color: #fff; /* Colore del testo per l'intestazione */
}




