        body {
            background-image: url("airport.jpg");
            background-color: #b0cbea;
            background-repeat: repeat;
            background-position: center;
            height: 100vh;
            font-family: Arial, sans-serif;
        }

        h1 {
            color: white;
            text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
            font-family: "Lato", sans-serif;
            margin: 20px;
        }

        /* colore carattere 2 */
        .colored-character {
            color: #6ca6d4;
        }

        form {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        label {
            font-size: 16px;
            display: block;
            margin-top: 5px;
            margin-bottom: 5px;
            font-weight: bold;
            color: #336699;
        }

        input[type="text"],
        input[type="date"],
        input[type="number"] {
            width: 100%;
            padding: 12px; /* Increased padding for larger inputs */
            font-size: 16px; /* Increased font size for larger inputs */
            border: 1px solid #b0cbea;
            border-radius: 4px;
            box-sizing: border-box;
            transition: border-color 0.3s ease;
        }

        input[type="text"]:hover,
        input[type="date"]:hover,
        input[type="number"]:hover {
            border-color: #6ca6d4;
        }

        button[type="submit"] {
            background-color: #336699;
            color: #fff;
            padding: 12px 24px; /* Increased padding for larger button */
            font-size: 16px; /* Increased font size for larger button */
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #1f4d7a;
        }

        .checkbox {
            display: flex;
            align-items: center;
        }

        .checkbox input[type="checkbox"] {
            margin-right: 5px;
        }

        .advanced-option {
            display: none;
        }