<!-- index.html -->

<!DOCTYPE html>
<html lang="it">
<head>
    <title>fly2meet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>fly2meet</h1>

    <form method="POST" action="{{ url_for('search_flights') }}">
        <label for="departure_airport">Departure City:</label>
        <input type="text" id="departure_airport" name="departure_airport" value="{{ request.form.get('departure_airport') }}" required>

        <label for="departure_date">Departure Date:</label>
        <input type="date" id="departure_date" name="departure_date" value="{{ request.form.get('departure_date') }}" required>

        <label for="return_date">Return Date:</label>
        <input type="date" id="return_date" name="return_date" value="{{ request.form.get('return_date') }}">

        <label for="max_base_price">Max Base Price:</label>
        <input type="number" id="max_base_price" name="max_base_price" value="{{ request.form.get('max_base_price') }}" required min="0">

        <label for="max_duration">Max Duration:</label>
        <input type="number" id="max_duration" name="max_duration" value="{{ request.form.get('max_duration') }}" required min="0">

        <label for="max_wait_time">Max Wait Time:</label>
        <input type="number" id="max_wait_time" name="max_wait_time" value="{{ request.form.get('max_wait_time') }}" required min="0">

        <label for="destination">Destination City:</label>
        <input type="text" id="destination" name="destination" value="{{ request.form.get('destination') }}">

        <div class="checkbox">
            <input type="checkbox" id="same_airport" name="same_airport">
            <label for="same_airport">Same City</label>
        </div>

        <div class="checkbox">
            <input type="checkbox" id="one_way" name="one_way">
            <label for="one_way">One Way</label>
        </div>

        <button type="submit">Search</button>
    </form>
</body>
</html>
