<!-- index.html -->

<!DOCTYPE html>
<html lang="it">
<head>
    <title>fly2meet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>
        fly<span class="colored-character">2</span>meet
    </h1>

    <form method="POST" action="{{ url_for('search_flights') }}">
        <label for="departure_city_1">Departure City 1:</label>
        <input type="text" id="departure_city_1" name="departure_city_1" placeholder="e.g. Paris" autocomplete="off" required>
        <label for="departure_city_2">Departure City 2:</label>
        <input type="text" id="departure_city_2" name="departure_city_2" placeholder="e.g. London" autocomplete="off" required>

        <label for="departure_date">Departure Date:</label>
        <input type="date" id="departure_date" name="departure_date" required>

        <label for="return_date">Return Date (optional):</label>
        <input type="date" id="return_date" name="return_date">

        <label for="max_base_price">Max Base Price:</label>
        <input type="number" id="max_base_price" name="max_base_price" placeholder="e.g. 200" autocomplete="off" required min="0">

        <label for="max_duration">Max Duration (in hours):</label>
        <input type="number" id="max_duration" name="max_duration" placeholder="e.g. 3" autocomplete="off" required min="0">

        <label for="max_wait_time">Max Wait Time (in minutes):</label>
        <input type="number" id="max_wait_time" name="max_wait_time" placeholder="e.g. 40" autocomplete="off" required min="0">

        <label for="target_cities">Destination City (optional):</label>
        <input type="text" id="target_cities" name="target_cities" placeholder="e.g. Madrid" autocomplete="off">

        <label for="target_countries">Destination Country (optional):</label>
        <input type="text" id="target_countries" name="target_countries" placeholder="e.g. Italy" autocomplete="off">

        <div class="checkbox">
            <input type="checkbox" id="same_airport" name="same_airport">
            <label for="same_airport">Same Airport</label>
        </div>

        <button type="submit">Search</button>
    </form>
</body>
</html>
